body{
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 24, 0.6) 0%, rgb(160, 199, 254) 74.6%); 
}

hr{
    background-color:  rgb(146, 52, 52);   
    text-align: justify;

}

h1{
    color: yellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:54px;
    text-align: center;
}
h2{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:26px;
    text-align: center;

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 58px;
    font-size: 22px;
    text-align:justify;
    color: black;
    font-variant:normal;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 58px;
    font-size: 22px;
    text-align:justify;
    color: black;
    font-variant: normal;

}
li{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 58px;
    font-size: 22px;
    text-align:justify;
    color: black;
    font-variant: normal; 
}